/* @theme sloth */

@import 'default';

/* common */
section {
    font-family: "Arial";
    font-size: 36px;
    font-weight: 300;
    padding: 40px;
    justify-content: left;
    color: #444;
}

section h1 {
    font-size: 56px;
    padding: 0;
    border-bottom: 1px solid #333;
    color: #555;
    font-weight: 500;
    margin-bottom: 24px;
}

section h2 {
    font-size: 56px;
    padding: 0;
    border-bottom: 1px solid #333;
    color: #555;
    font-weight: 500;
    margin-bottom: 24px;
}

section h3 {
    font-size: 56px;
    padding: 0;
    border-bottom: 1px solid #333;
    color: #555;
    font-weight: 500;
    margin-bottom: 24px;
}

/* paginate */
section::after {
    margin: 0;
    bottom: 0;
    right: 12px;
    color: #aaa;
    font-weight: 400;
    font-size: 24px;
}

/* reference */
section.references ul {
    padding-left: 0;
}

section.references li {
    list-style-type: none;
}

section .reference-item::before {
    content: "["attr(data-ref-number) "] ";
}

section span.reference-item--index-only {
    display: inline-block;
    width: 20px;
    height: 20px;
}

section span.reference-item--index-only::after {
    font-size: 18px;
    content: "["attr(data-ref-number) "] ";
}

/* title */
section.title {
    font-size: 32px;
    justify-content: center;
}

section.title h1 {
    color: rgb(10, 10, 120);
    font-size: 72px;
    font-weight: 500;
    border-bottom: none;
}

section.title strong {
    font-size: 42px;
    font-weight: 500;
}

/* section headline */
section.headline {
    font-size: 32px;
    align-items: center;
    justify-content: center;
}

section.headline h1 {
    color: rgb(10, 10, 120);
    font-size: 72px;
    font-weight: 500;
    border-bottom: none;
}

section.headline strong {
    font-size: 42px;
    font-weight: 500;
}