/* @theme sloth */

@import 'default';

/* common */
section {
    font-family: "Arial", "Hiragino Maru Gothic ProN";
    font-size: 32px;
    padding: 40px;
    justify-content: left;
}

/* paginate */
section::after {
    margin: 0;
    bottom: 0;
    right: 12px;
    padding: 8px 16px 2px 16px;
    color: #ccc;
    font-weight: 700;
    font-size: 32px;
    background: rgb(10, 10, 110);
}

/* reference */
section.reference {
    counter-reset: count 0;
}

section.reference ul {
    padding-left: 0;
}

section.reference li {
    list-style-type: none;
}

section .reference-item::before {
    content: "["attr(data-ref-number) "] ";
}

section span.reference-item--index-only {
    display: inline-block;
    width: 20px;
    height: 20px;
}

section span.reference-item--index-only::after {
    font-size: 18px;
    content: "["attr(data-ref-number) "] ";
}

/* title */
section.title {
    font-size: 32px;
    justify-content: center;
}

section.title h1 {
    color: rgb(10, 10, 90);
    font-size: 72px;
}

section.title strong {
    font-size: 42px;
}